
Assembly-CSharp.csproj
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
Library/ScriptAssemblies/Unity.Timeline.pdb
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEditor.UI.pdb
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ScriptAssemblies/UnityEngine.UI.pdb
Library/CurrentLayout-default.dwlt
Library/CurrentLayout-default.dwlt
